In [21]:
import pandas as pd
import numpy as np

In [22]:
file_path = "/Users/shreya/Desktop/Comp_viz/Proj_3/Data/Final_data.csv" 
final_data = pd.read_csv(file_path)

print(final_data.columns)
final_data

Index(['Unnamed: 0.1', 'Unnamed: 0', 'artist', 'collab_songs', 'type',
       'genres', 'collab_individuals', 'country', 'Track', 'Album',
       'Album_type', 'Danceability', 'Energy', 'Key', 'Loudness',
       'Speechiness', 'Acousticness', 'Instrumentalness', 'Liveness',
       'Valence', 'Tempo', 'Duration_ms', 'Views', 'Likes', 'Comments',
       'main_genres', 'Avg_Concert_Fee'],
      dtype='object')

,Unnamed: 0.1,Unnamed: 0,artist,collab_songs,type,genres,collab_individuals,country,Track,Album,...,Instrumentalness,Liveness,Valence,Tempo,Duration_ms,Views,Likes,Comments,main_genres,Avg_Concert_Fee
0,0,0,Arcángel,163,Man,latin,37,Puerto Rico,La Jumpa,Sr. Santos,...,0.670000,0.1300,0.197,140.020,196800.0,9.427736e+07,1169191.0,19352.0,Latin,3730000.0
1,1,1,Arcángel,163,Man,latin,37,Puerto Rico,Tu No Vive Asi (feat. Mambo Kingz & DJ Luian),Tu No Vive Asi (feat. Mambo Kingz & DJ Luian),...,0.000000,0.6110,0.623,120.054,264000.0,1.418634e+09,7031561.0,243371.0,Latin,3730000.0
2,2,2,Arcángel,163,Man,latin,37,Puerto Rico,Si Se Da - Remix,Si Se da Remix,...,0.000000,0.1300,0.774,93.999,332240.0,1.202918e+09,3283924.0,54002.0,Latin,3730000.0
3,3,3,Arcángel,163,Man,latin,37,Puerto Rico,Bottas,Sr. Santos,...,0.000000,0.5430,0.721,123.979,191664.0,7.088362e+06,239476.0,6105.0,Latin,3730000.0
4,4,4,Arcángel,163,Man,latin,37,Puerto Rico,JS4E,Sr. Santos,...,0.000000,0.2720,0.337,115.055,237750.0,6.473229e+07,770572.0,14349.0,Latin,3730000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8019,8019,8019,Steve Lacy,4,Man,vocal jazz,3,United States,Some,Some,...,0.254000,0.0995,0.634,104.010,118393.0,5.297108e+06,142752.0,2616.0,Jazz,2660000.0
8020,8020,8020,Steve Lacy,4,Man,vocal jazz,3,United States,Infrunami,The Lo-Fis,...,0.095200,0.0758,0.215,97.012,178328.0,1.142100e+05,5131.0,114.0,Jazz,2660000.0
8021,8021,8021,Steve Lacy,4,Man,vocal jazz,3,United States,N Side,Apollo XXI,...,0.000302,0.2080,0.894,119.946,224444.0,8.530649e+06,111610.0,1917.0,Jazz,2660000.0
8022,8022,8022,Steve Lacy,4,Man,vocal jazz,3,United States,Ryd,Steve Lacy's Demo,...,0.000181,0.1330,0.980,137.002,140182.0,4.658781e+07,628126.0,10675.0,Jazz,2660000.0
8023,8023,8023,Steve Lacy,4,Man,vocal jazz,3,United States,Helmet,Gemini Rights,...,0.000000,0.2170,0.763,97.040,201547.0,1.159681e+06,22175.0,717.0,Jazz,2660000.0

In [23]:
# Drop the unnecessary "Unnamed" columns
final_data = final_data.loc[:, ~final_data.columns.str.contains('^Unnamed')]

# Group by 'artist', count 'Track', sum 'Views', 'Likes', and 'Comments', and take the first value of other fields
final_data_grouped = final_data.groupby('artist').agg({
    'Track': 'count',                # Count of tracks
    'collab_individuals': 'first',   # Take the first value of collab_individuals
    'collab_songs': 'first',
    'country': 'first',              # Take the first value of country
    'Views': 'sum',                  # Sum of views
    'Likes': 'sum',                  # Sum of likes
    'Comments': 'sum',               # Sum of comments
    'Avg_Concert_Fee': 'first'       # Take the first value of Avg_Concert_Fee
}).reset_index()

# Rename 'Track' count column for clarity
final_data_grouped.rename(columns={'Track': 'Track Count'}, inplace=True)

# Calculate Engagement Score
final_data_grouped['Engagement_score'] = (
    0.5 * final_data_grouped['Likes'] +
    0.3 * final_data_grouped['Comments'] +
    0.2 * final_data_grouped['Views']
).round().astype(int)

In [24]:
final_data_grouped

,artist,Track Count,collab_individuals,collab_songs,country,Views,Likes,Comments,Avg_Concert_Fee,Engagement_score
0,21 Savage,20,43,120,United States,3.436457e+08,5649902.0,143468.0,1880000.0,71597131
1,24kGoldn,50,13,10,United States,3.457594e+09,55682315.0,1338160.0,1060000.0,719761472
2,50 Cent,50,26,241,United States,2.280120e+10,137571900.0,3363255.0,740000.0,4630035654
3,A$AP Rocky,20,34,75,United States,2.303492e+09,19511936.0,461486.0,3160000.0,470592785
4,Adele,60,9,9,United Kingdom,3.554014e+10,224205600.0,7867800.0,1750000.0,7222491828
...,...,...,...,...,...,...,...,...,...,...
239,benny blanco,10,11,23,United States,1.796975e+09,16866282.0,607953.0,690000.0,368010555
240,blackbear,10,12,22,United States,5.362050e+08,7440492.0,164022.0,4750000.0,111010457
241,iann dior,40,7,9,United States,2.257211e+09,38151824.0,893276.0,2080000.0,470786136
242,thasup,10,5,8,Italy,7.073185e+07,677823.0,19954.0,370000.0,14491267
243,Ñengo Flow,10,25,104,Puerto Rico,8.127263e+08,6760340.0,153443.0,3850000.0,165971466

In [31]:
# Min-Max scaling to scale 'Engagement_score' to range [1, 10]
min_score = final_data_grouped['Engagement_score'].min()
max_score = final_data_grouped['Engagement_score'].max()

final_data_grouped['Engagement_score_scaled'] = (
    (final_data_grouped['Engagement_score'] - min_score) / (max_score - min_score) * 99 + 1
).round(0)  # Scale to [1, 10] and round to 2 decimal places

In [32]:
final_data_grouped

,artist,Track Count,collab_individuals,collab_songs,country,Views,Likes,Comments,Avg_Concert_Fee,Engagement_score,Engagement_score_scaled,Collab Impact
0,21 Savage,20,43,120,United States,3.436457e+08,5649902.0,143468.0,1880000.0,71597131,1.0,2.05
1,24kGoldn,50,13,10,United States,3.457594e+09,55682315.0,1338160.0,1060000.0,719761472,5.0,1.21
2,50 Cent,50,26,241,United States,2.280120e+10,137571900.0,3363255.0,740000.0,4630035654,24.0,4.71
3,A$AP Rocky,20,34,75,United States,2.303492e+09,19511936.0,461486.0,3160000.0,470592785,3.0,1.81
4,Adele,60,9,9,United Kingdom,3.554014e+10,224205600.0,7867800.0,1750000.0,7222491828,36.0,1.31
...,...,...,...,...,...,...,...,...,...,...,...,...
239,benny blanco,10,11,23,United States,1.796975e+09,16866282.0,607953.0,690000.0,368010555,3.0,1.76
240,blackbear,10,12,22,United States,5.362050e+08,7440492.0,164022.0,4750000.0,111010457,2.0,1.65
241,iann dior,40,7,9,United States,2.257211e+09,38151824.0,893276.0,2080000.0,470786136,3.0,1.43
242,thasup,10,5,8,Italy,7.073185e+07,677823.0,19954.0,370000.0,14491267,1.0,1.56
243,Ñengo Flow,10,25,104,Puerto Rico,8.127263e+08,6760340.0,153443.0,3850000.0,165971466,2.0,2.61

In [33]:
final_data_grouped['Collab Impact'] = final_data_grouped['collab_songs'] / final_data_grouped['collab_individuals']

In [34]:
min_score = final_data_grouped['Collab Impact'].min()
max_score = final_data_grouped['Collab Impact'].max()

final_data_grouped['Collab Impact'] = (
    (final_data_grouped['Collab Impact'] - min_score) / (max_score - min_score) * 9 + 1
).round(2)  # Scale to [1, 10] and round to 2 decimal places

In [35]:
final_data_grouped

,artist,Track Count,collab_individuals,collab_songs,country,Views,Likes,Comments,Avg_Concert_Fee,Engagement_score,Engagement_score_scaled,Collab Impact
0,21 Savage,20,43,120,United States,3.436457e+08,5649902.0,143468.0,1880000.0,71597131,1.0,2.05
1,24kGoldn,50,13,10,United States,3.457594e+09,55682315.0,1338160.0,1060000.0,719761472,5.0,1.21
2,50 Cent,50,26,241,United States,2.280120e+10,137571900.0,3363255.0,740000.0,4630035654,24.0,4.71
3,A$AP Rocky,20,34,75,United States,2.303492e+09,19511936.0,461486.0,3160000.0,470592785,3.0,1.81
4,Adele,60,9,9,United Kingdom,3.554014e+10,224205600.0,7867800.0,1750000.0,7222491828,36.0,1.31
...,...,...,...,...,...,...,...,...,...,...,...,...
239,benny blanco,10,11,23,United States,1.796975e+09,16866282.0,607953.0,690000.0,368010555,3.0,1.76
240,blackbear,10,12,22,United States,5.362050e+08,7440492.0,164022.0,4750000.0,111010457,2.0,1.65
241,iann dior,40,7,9,United States,2.257211e+09,38151824.0,893276.0,2080000.0,470786136,3.0,1.43
242,thasup,10,5,8,Italy,7.073185e+07,677823.0,19954.0,370000.0,14491267,1.0,1.56
243,Ñengo Flow,10,25,104,Puerto Rico,8.127263e+08,6760340.0,153443.0,3850000.0,165971466,2.0,2.61

In [37]:
file_path3 = "/Users/shreya/Desktop/Comp_viz/Proj_3/Data/collaborations.csv"
collab = pd.read_csv(file_path3)
collab

      Weight         Source                      Target
0          2      21 Savage                  A$AP Rocky
1          3      21 Savage                   Bad Bunny
2          1      21 Savage                       Blxst
3          2      21 Savage                   Burna Boy
4          1      21 Savage               Calvin Harris
...      ...            ...                         ...
2435       1   XXXTENTACION  YoungBoy Never Broke Again
2436       2           Yeat                  Young Thug
2437       3           Yeat  YoungBoy Never Broke Again
2438       2     Young Thug  YoungBoy Never Broke Again
2439       2  Zion & Lennox                  Ñengo Flow

[2440 rows x 3 columns]

In [38]:
final_data_grouped.to_csv("/Users/shreya/Desktop/Comp_viz/Proj_3/Data/Collaborations_2.csv", index=False)